<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SurfaceLength3D</string>
	<key>CFBundleIdentifier</key>
	<string>com.trixsoftware.horos.surfacelength3d</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SurfaceLength3D</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>NSPrincipalClass</key>
	<string>SurfaceLength3DFilter</string>
	<key>MenuTitles</key>
	<array>
		<string>Surface Length 3D</string>
	</array>
	<key>pluginType</key>
	<string>filter</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2008–2026 TriX Software. All rights reserved.</string>
</dict>
</plist>
